@page
@model QtecAccountsWeb.Pages.Accounts.IndexModel
@{
    ViewData["Title"] = "Chart of Accounts";
}

<style>
    /* Simple CSS to make the tree look nice with indentation */
    .account-tree ul {
        padding-left: 20px;
        list-style-type: none;
    }

    .account-tree li {
        padding: 2px 0;
    }
</style>

<h1>@ViewData["Title"]</h1>

<div class="mb-3">
    @if (User.IsInRole("Admin") || User.IsInRole("Accountant"))
    {
        <a class="btn btn-primary" asp-page="Create">Create New Account</a>
    }

    @* This is the form for our new Export button *@
    <form method="post" style="display: inline;">
        @* This special tag helper tells the system to call the OnPostExportToExcelAsync method *@
        <button type="submit" class="btn btn-success" asp-page-handler="ExportToExcel">
            Export to Excel
        </button>
    </form>
</div>


<div class="account-tree">
    <ul>
        @* We are now looping through our new "AccountTree" variable *@
        @foreach (var node in Model.AccountTree)
        {
            @* We use our special "_AccountTreeItem" artist to draw each branch *@
            <partial name="_AccountTreeItem" model="node" />
        }
    </ul>
</div>
